
.new-collections{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.new hr{
    margin: 20px;
    width: 30%;
    border: 2px solid black;
    text-align: center;
    margin-left: 34%;
}

@media only screen and (max-width: 1300px){
    .new-collections{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1000px){
    .new-collections{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 630px){
    .new-collections{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}