.offer-section{
    color: aliceblue;
}
.offer-section hr{
    margin-top: 50px;
}
.offer-section  div{
    width: 100%;
    display: flex;
    margin: auto;
}
.offer-section  div img{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}
.offer-section button{
    background-color: #ffcc00;
    padding: 15px 35px;
    border-radius: 20px;
    border: none;
    position: relative;
    bottom: 200px;
    left: 350px;
    font-size: 20px;
}
.offer-section2{
    display: none;
    margin: 40px 0;
}
.offer-section button:active{
    background-color: hsl(48, 83%, 62%);
    padding: 7px 18px;
}

@media only screen and (max-width: 1000px){
    .offer-section{
        display: none;
    }
    .offer-section2{
        display: block;
    }
}
@media only screen and (max-width: 400px){
    .offer-section2 img{
        width: 250px;
    }
}