.pw hr{
    border: 1px solid black;
    margin-left: 25%;
    width:50%;
    text-align:center;
    margin-top: 10px ;
    margin-bottom: 40px ;

}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1250px){
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1000px){
    .products{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 630px){
    .products{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}